.profile__info {
    position: relative;
    width: 336px;
}

@media screen and (max-width: 721px) {
    
    .profile__info {
        width: 282px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}